<a href="https://colab.research.google.com/github/theolht/NLP_Project/blob/main/project_NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize

nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [61]:
from google.colab import drive
drive.mount('/content/gdrive/')

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [85]:
df = pd.read_csv (r'gdrive/MyDrive/NLP_Project/training.1600000.processed.noemoticon.csv', encoding='latin-1')

In [88]:
data = df.copy()
data.columns = ['target', 'id_tweet', 'date', 'flag', 'user', 'comment']
del data['flag']

data = data.head(10000)
data

      target  ...                                            comment
0          0  ...  is upset that he can't update his Facebook by ...
1          0  ...  @Kenichan I dived many times for the ball. Man...
2          0  ...    my whole body feels itchy and like its on fire
3          0  ...  @nationwideclass no, it's not behaving at all....
4          0  ...                      @Kwesidei not the whole crew
...      ...  ...                                                ...
9995       0  ...    stupid dvds stuffing up the good bits in jaws.
9996       0  ...  @Dandy_Sephy No. Only close friends and family...
9997       0  ...  CRAP! After looking when I last tweeted... WHY...
9998       0  ...                          Its Another Rainboot day
9999       0  ...  I think there's a problem with the ISP in this...

[10000 rows x 5 columns]

In [89]:
for id, comment in data['comment'].items():
  comment = nltk.word_tokenize(comment)
  comment = [ ch.lower() for ch in comment if ch.isalpha() or ch == '.']
  data['comment'][id] = comment

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [90]:
data

      target  ...                                            comment
0          0  ...  [is, upset, that, he, ca, update, his, faceboo...
1          0  ...  [kenichan, i, dived, many, times, for, the, ba...
2          0  ...  [my, whole, body, feels, itchy, and, like, its...
3          0  ...  [nationwideclass, no, it, not, behaving, at, a...
4          0  ...                  [kwesidei, not, the, whole, crew]
...      ...  ...                                                ...
9995       0  ...  [stupid, dvds, stuffing, up, the, good, bits, ...
9996       0  ...  [no, ., only, close, friends, and, family, i, ...
9997       0  ...  [crap, after, looking, when, i, last, tweeted,...
9998       0  ...                      [its, another, rainboot, day]
9999       0  ...  [i, think, there, a, problem, with, the, isp, ...

[10000 rows x 5 columns]